*__pycache__*
src/armadillin/trained_model/model.h5
src/pruning_logs/*
src/wandb/*
src/checkpoints*
src/non_sparse*
.venv/**
**/*.pyc
build/**
**/*.egg-info
**/*.checkpoints
dist/*
**/*.c
src/armadillin/_version.py
